<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>Page des TER de M1</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Page des TER de M1</h1>
(cette page est un peu aride !)
<br>
<a href="https://tony-nguyen1.github.io/">Mon site</a>
<br/>


<a th:href="@{/listTeachers}">Teachers List</a>
<br/>
<a th:href="@{/listStudents}">Students List</a>
<br/>
<a th:href="@{/listTerProjets}">Projects List</a>
<br/>
<a th:href="@{/test}">Test</a>
<br/>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>