<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Project List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Project List</h1>
<a href="addTerProjet">Add Ter Projet</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Description</th>
        </tr>
        <tr th:each ="terProjet : ${terProjets}">
            <td th:utext="${terProjet.titre}">...</td>
            <td th:utext="${terProjet.description}">...</td>
        </tr>
    </table>
</div>
</body>
</html>